{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Регистрация — Штрих Э</title>
  <link rel="stylesheet" href="{% static 'services/css/style.css' %}">
</head>
<body>
<header class="banner"><h1>Регистрация</h1></header>

<main class="detail" style="max-width:320px">
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label>Имя пользователя<br>{{ form.username }}</label><br><br>
    <label>E‑mail<br>{{ form.email }}</label><br><br>
    <label>Пароль<br>{{ form.password1 }}</label><br><br>
    <label>Подтверждение пароля<br>{{ form.password2 }}</label><br><br>
    <button class="btn-green" type="submit">Создать аккаунт</button>
  </form>

  <p>Уже есть учётка?
     <a href="{% url 'login' %}?next=/services/">Войти</a></p>
</main>
</body>
</html>

